
<h1 style="text-align:center">Top Collegues</h1>
<div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; ">

  <div style="display:flex; flex-direction:row;" *ngFor="let col of liste">
    <p>{{col.nom}}</p>
  </div>
<button type="button" class="btn btn-info" style ="margin-left:10px" (click)="seDeconnecter()">Se deconnecter</button></div><br>
<hr>
<main>
  <!--ici tout le contenu dynamique-->
    <router-outlet></router-outlet>
</main>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
  </footer>

